<div class="mt-3 card">
  <div class="align-center card-header">
    <div class="row">
      <div class="col">
        <div class="input-group">
          <div class="bg-light-green text-dark input-group-prepend">
            <span class="input-group-text">Annotation {{annotationModel.index + 1}}</span>
          </div>
          <select class="form-control" [formControl]="selectedType" (change)="typeSelected()">
            <option value="MOLECULAR_FUNCTION">Molecular Function (GO Function)</option>
            <option value="BIOLOGICAL_PROCESS">Biological Process (GO Process)</option>
            <option value="SUBCELLULAR_LOCATION">Subcellular Location (GO Component)</option>
            <option value="ANATOMICAL_LOCATION">Anatomical Location (PO Anatomy)</option>
            <option value="TEMPORAL_EXPRESSION">Temporal Expression (PO Dev. Stage)</option>
            <option value="PROTEIN_INTERACTION">Protein Interaction</option>
            <option value="COMMENT">Comment</option>
          </select>
          <div class="input-group-append">
            <span class="input-group-text">
              <div>
                  <ng-template #popcontent>
                    <div class="text-danger popover-body"><strong>Annotation Not Found</strong></div>
                  </ng-template>
                  <span
                    id="validation_status_6"
                    class="fa fa-fw"
                    [ngbPopover]="popcontent"
                    #popover="ngbPopover"
                    triggers="manual"
                  >
                </span>
              </div>
            </span>
          </div>
        </div>
      </div>
      <ng-container *ngIf="inCurationMode">
        <ng-container *ngIf="annotationModel.annotation.status == 'pending'">
          <div role="group" class="btn-group">
            <button type="button" class="btn btn-success" (click)="setAccepted()">
              <span class="fa fa-fw fa-check"></span>
            </button>
            <button type="button" class="btn btn-danger" (click)="setRejected()">
              <span class="fa fa-fw fa-trash"></span>
            </button>
          </div>
        </ng-container>

        <ng-container *ngIf="annotationModel.annotation.status == 'accepted'">
          <div role="group" class="btn-group">
            <button type="button" class="btn btn-success" (click)="setPending()">
              Accepted <span class="fa fa-fw fa-check"></span>
            </button>
          </div>
        </ng-container>

        <ng-container *ngIf="annotationModel.annotation.status == 'rejected'">
          <div role="group" class="btn-group">
            <button type="button" class="btn btn-danger" (click)="setPending()">
              Rejected <span class="fa fa-fw fa-trash"></span>
            </button>
          </div>
        </ng-container>


      </ng-container>
      <ng-container *ngIf="!inCurationMode">
        <div class="text-right col-sm-auto">
          <button type="button" class="btn btn-danger" (click)="deleteMe()"><span class="fa fa-close" title="Remove Annotation"></span></button>
        </div>
      </ng-container>
    </div>
    <div class="card-body">
      <ng-container *ngIf="selectedType.value === 'MOLECULAR_FUNCTION'">
        <app-molecular [annotation]="annotationModel.annotation" [index]="annotationModel.index"></app-molecular>
      </ng-container>
      <ng-container *ngIf="selectedType.value === 'BIOLOGICAL_PROCESS'">
        <app-biological [annotation]="annotationModel.annotation" [index]="annotationModel.index"></app-biological>
      </ng-container>
      <ng-container *ngIf="selectedType.value === 'SUBCELLULAR_LOCATION'">
        <app-subcellular [annotation]="annotationModel.annotation" [index]="annotationModel.index"></app-subcellular>
      </ng-container>
      <ng-container *ngIf="selectedType.value === 'ANATOMICAL_LOCATION'">
        <app-annatomical [annotation]="annotationModel.annotation" [index]="annotationModel.index"></app-annatomical>
      </ng-container>
      <ng-container *ngIf="selectedType.value === 'TEMPORAL_EXPRESSION'">
        <app-temporal [annotation]="annotationModel.annotation" [index]="annotationModel.index"></app-temporal>
      </ng-container>
      <ng-container *ngIf="selectedType.value === 'PROTEIN_INTERACTION'">
        <app-protein-interaction [annotation]="annotationModel.annotation" [index]="annotationModel.index"></app-protein-interaction>
      </ng-container>
      <ng-container *ngIf="selectedType.value === 'COMMENT'">
        <app-comment [annotation]="annotationModel.annotation" [index]="annotationModel.index"></app-comment>
      </ng-container>
    </div>
  </div>
</div>
