<div class="d-flex p-2 align-items-center row">
  <div class="text-right col-3">
    <label class="mb-0">Gene</label>
  </div>
  <div class="p-1 col">
    <select class="form-control" [formControl]="gene">
      <option [selected]="gene.locusName===annotation.data.locusName.locusName" *ngFor="let gene of availableGenes | async">{{gene.locusName}}</option>
    </select>
  </div>
</div>

<div class="d-flex p-2 align-items-center row">
  <div class="text-right col-3">
    <label class="mb-0">Comment</label>
  </div>
    <ng-template #functionPopContent>
          <div class="text-danger popover-body"><strong>Comment cannot be blank</strong></div>
      </ng-template>
  <div class="p-1 col">
    <textarea class="form-control" [formControl]="comment" (change)="setAnnotationData()"
              [ngbPopover]="functionPopContent" #functionPopover="ngbPopover" triggers="manual">
    </textarea>
  </div>
</div>
