<div class="row">
      <div class="col">
        <div class="input-group">
          <input placeholder="e.g a gene or protien" class="form-control" style="text-overflow: ellipsis;" [formControl]="locusField">
          <div class="input-group-append">
               <span class="input-group-text">
                  <div>

                     <ng-template #popcontent>
                        <div class="text-danger popover-body"><strong>{{errorMessage}}</strong></div>
                     </ng-template>
                     <span
                       id="validation_status_6"
                       class="fa fa-fw"
                       [ngStyle]="{'color':getColor(locusStatus)}"
                       [ngClass]="{'fa-chain': locusStatus === 'empty',
                       'fa-refresh fa-spin': locusStatus === 'loading',
                       'fa-exclamation-circle': locusStatus === 'error',
                       'fa-check': locusStatus === 'success'}"
                       [ngbPopover]="popcontent"
                       #popover="ngbPopover"
                       triggers="manual"
                     >
                    </span>
                  </div>
               </span>
          </div>
        </div>
      </div>
      <div class="text-right col-sm-auto">
        <button type="button" class="btn btn-danger" (click)="delete()"><span class="fa fa-close" title="Remove Gene"></span></button>
      </div>
    </div>
