<app-navbar></app-navbar>
<div class="row bg-success banner-image">
  <div class="align-self-center col">
    <h3 class="goat-text text-light text-center align-self-center">— the —</h3>
    <h1 class="goat-text text-light text-center align-self-center">Generic Online Annotation Tool</h1>
    <h5 class="goat-text text-light text-center align-self-center">Functional annotation of any gene from any plant from
      any paper</h5>
  </div>
</div>
<div class="main-page-descriptions container-fluid">
  <div class="home-step row" style="background-color: rgb(207, 252, 217); overflow: hidden;">
    <div class="container">
      <div class="row">
        <div class="col"><h1>Publish</h1>
          <p class="home-step-text">GOAT is a tool for annotating gene function from published experimental data. Start
            by adding the PubMed ID or DOI for the paper you wish to curate.</p></div>
        <div class="home-step-img-col col"><img src="/assets/research.png" alt="research"></div>
      </div>
    </div>
  </div>
  <div class="home-step row" style="background-color: rgb(149, 193, 172);">
    <div class="container">
      <div class="row">
        <div class="col"><h1>Annotate</h1>
          <p class="home-step-text">Use the simple interface to annotate gene function(s) including Gene Ontology (GO)
            molecular function, GO biological role, GO subcellular localization, gene expression (using Plant
            Ontologies) and protein-protein physical interactions. Add comments, gene names and symbols for any
            gene.</p></div>
        <div class="home-step-img-col col"><img src="/assets/submission.png" alt="submission"></div>
      </div>
    </div>
  </div>
  <div class="home-step row" style="background-color: rgb(114, 224, 140);">
    <div class="container">
      <div class="row">
        <div class="col"><h1>Submit</h1>
          <p class="home-step-text">Each submission is reviewed by an expert curator.</p></div>
        <div class="home-step-img-col col"><img src="/assets/curation.png" alt="curation"></div>
      </div>
    </div>
  </div>
  <div class="home-step row" style="background-color: rgb(46, 170, 110);">
    <div class="container">
      <div class="row">
        <div class="col"><h1>Download</h1>
          <p class="home-step-text">Reviewed submissions are exported in standard exchange formats. Gene Ontology and
            Plant Ontology annotations are available in a GO Annotation Format (GAF2.0) file. Other comments are
            exported in JSON format.</p></div>
        <div class="home-step-img-col col"><img src="/assets/export.png" alt="export"></div>
      </div>
    </div>
  </div>
  <div class="py-5 row" style="height: 150px; background-color: rgb(137, 158, 139);">
    <div class="container">
      <div class="row">
        <div class="col"><a class="text-white" href="http://phoenixbioinformatics.org" target="_blank"><img
          src="/assets/phoenixLogo.png" alt="phoenix bioinformatics logo" height="50px"
          style="width: auto;"></a></div>
        <div class="text-right col"><a class="text-white" href="https://github.com/tair" target="_blank"><img
          src="/assets/githubLogo.png" alt="github-logo" height="50px" style="width: auto;"></a></div>
      </div>
    </div>
  </div>
</div>
