<app-navbar></app-navbar>
<div>
    <div class="mt-3 container-fluid">
        <div class="justify-content-md-center row">
            <div class="col-md-10">
                <div class="page-card card">
                    <div class="card-header">
                        <span class="fa fa-file"></span> Users
                    </div>
                    <div class="p-0 card-body">
                        <ul class="list-group-flush list-group">
                            <app-user-admin *ngFor="let u of users" [user]="u"></app-user-admin>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>