<li class="list-group-item">
  <div class="row">
    <div class="col-sm-3">
      <a target="_blank" href="https://orcid.org/0000-0002-9916-6312">
        <!-- react-text: 279 -->Ian Montgomery<!-- /react-text --><!-- react-text: 280 --> <!-- /react-text --><span class="fa fa-external-link"></span>
      </a>
    </div>
    <div class="col-sm-2"><em>No email</em></div>
    <div class="text-center col">
      <div role="group" class="btn-group">
        <button type="button" class="btn btn-success">
          <span class="fa fa-check"></span><!-- react-text: 288 --> <!-- /react-text --><!-- react-text: 289 -->Researcher<!-- /react-text -->
        </button>
        <button type="button" class="btn btn-success">
          <span class="fa fa-check"></span><!-- react-text: 292 --> <!-- /react-text --><!-- react-text: 293 -->Curator<!-- /react-text -->
        </button>
        <button type="button" class="btn btn-success">
          <span class="fa fa-check"></span><!-- react-text: 296 --> <!-- /react-text --><!-- react-text: 297 -->Admin<!-- /react-text -->
        </button>
      </div>
    </div>
  </div>
</li>
