<li class="list-group-item">
  <div class="row">
    <div class="col-sm-3">
      <a target="_blank" [href]="'https://orcid.org/' + user.orcid_id">
        {{user.name}}<span class="fa fa-external-link"></span>
      </a>
    </div>
    <div *ngIf="user.email_address===null" class="col-sm-2"><em>No email</em></div>
    <div *ngIf="!(user.email_address===null)" class="col-sm-2"><a [href]="'mailto:' + user.email_address">{{user.email_address}}</a></div>
    <div class="text-center col">
      <div role="group" class="btn-group">
        <button (click)="toggleResearcher(user)" type="button" [ngClass]="[userIsResearcher(user) ? 'btn btn-success':'btn btn-danger']">
          <span class="fa fa-check"></span>Researcher
        </button>
        <button (click)="toggleCurator(user)"  type="button" [ngClass]="[userIsCurator(user) ? 'btn btn-success':'btn btn-danger']">
          <span class="fa fa-check"></span>Curator
        </button>
        <button (click)="toggleAdmin(user)"  type="button" [ngClass]="[userIsAdmin(user) ? 'btn btn-success':'btn btn-danger']">
          <span class="fa fa-check"></span>Admin
        </button>
      </div>
    </div>
  </div>
</li>
