<app-navbar></app-navbar>


<div class="mt-3 container-fluid">
    <div class="justify-content-md-center row">
        <div class="col-md-10 col-offset-4 page-card-container col">
            <div class="page-card card">
                <div class="card-header">
                    <div class="align-items-center row">
                        <div class="col"><span class="fa fa-file-text"></span>Curate Submission from
                            <a target="_blank" href="https://orcid.org/0000-0001-6281-995X">
                                Nicholas Peretti
                                <span class="fa fa-external-link"></span>
                            </a>at 10/31/2018, 10:53:35 PM</div>
                    </div>
                </div>
                <div class="p-0 card-body">
                    <ul class="list-group">
                        <li class="border-left-0 border-right-0 border-top-0 list-group-item">
                          <app-publication></app-publication>
                        </li>
                        <li class="border-left-0 border-right-0 border-top-0 list-group-item">
                          <app-genes></app-genes>
                        </li>
                        <li class="border-left-0 border-right-0 border-top-0 list-group-item">
                            <app-annotation-list></app-annotation-list>
                        </li>
                    </ul>
                </div>
                <div class="submissionFooter card-footer">
                    <div class="row">
                        <div class="text-right align-self-center col">
                            <button type="button" class="btn-submit btn btn-success"><!-- react-text: 1572 -->Review Changes
                                <!-- /react-text --><span class="fa fa-chevron-right"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
