<div class="d-flex p-2 align-items-center row">
  <div class="text-right col-3">
    <label class="mb-0">Gene 1</label>
  </div>
  <div class="p-1 col">
    <select class="form-control" [formControl]="gene1">
      <option [selected]="gene.locusName===annotation.data.locusName.locusName || gene.locusName===annotation.data.locusName" *ngFor="let gene of availableGenes | async">{{gene.locusName}}</option>
    </select>
  </div>
</div>
<div class="d-flex p-2 align-items-center row">
  <div class="text-right col-3">
    <label class="mb-0">Gene 2</label>
  </div>
  <div class="p-1 col">
    <select class="form-control" [formControl]="gene2">
      <option [selected]="gene.locusName===annotation.data.locusName2.locusName || gene.locusName===annotation.data.locusName2" *ngFor="let gene of availableGenes | async">{{gene.locusName}}</option>
    </select>
  </div>
</div>
<div class="d-flex p-2 align-items-center row">
  <div class="text-right col-3">
    <label class="mb-0">Method</label>
  </div>
  <div class="p-1 col">
    <ng-template #rt let-function="result">
      <span class="badge badge-success">
        {{function.external_id}}
      </span>
        {{function.name}}
      <span *ngIf="function.synonym" class="badge badge-warning">
        {{function.synonym}}
      </span>
    </ng-template>
      <div class="p-1 col">
        <div class="row">
            <ul class="nav nav-pills text-success">
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="searchTabClass()"
                        href="" (click)="is_temp_method=false;temp_method_name.setValue('');false">{{searchTabText}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="addTabClass()" href=""
                        (click)="is_temp_method=true;method.setValue({});false">{{addTabText}}</a>
                </li>
            </ul>
        </div>
        <div class="row" [hidden]="is_temp_method">
            <ng-template #methodPopContent>
                <div class="text-danger popover-body"><strong>{{methodError}}</strong><a href="" (click)="is_temp_method=true;method.setValue({});false">Create one</a></div>
            </ng-template>
            <input placeholder="Start Typing..." class="form-control" [formControl]="method" [ngbTypeahead]="methods"
                [resultTemplate]="rt" [inputFormatter]="methodFormatter" [ngbPopover]="methodPopContent"
                #methodPopover="ngbPopover" triggers="manual">
        </div>
        <div class="row" [hidden]="!is_temp_method">
            <ng-template #tempMethodPopContent>
                <div class="text-danger popover-body"><strong>{{tempMethodError}}</strong></div>
            </ng-template>
            <input placeholder="Insert Customized Keyword" class="form-control" [formControl]="temp_method_name"
                [ngbPopover]="tempMethodPopContent" #tempMethodPopover="ngbPopover" triggers="manual">
        </div>
    </div>  
</div>
</div>
