<div>
  <span id="validated_field_1">
    <div class="row">
      <div class="col">
        <h4>2. Genes</h4>
        <div class="alert alert-light fade show" role="alert">Enter genes with a UniProt ID, AGI locus ID, or RNA Central ID. Optionally enter a gene symbol and full name.</div>
      </div>
      <div class="col-sm-9">
        <ng-container *ngFor="let gene of this.submission.genes; let i = index">
          <app-locus [number]="i" (deleted)="deleteLocus($event)"></app-locus>
        </ng-container>

        <div class="justify-content-sm-center mt-3 mb-3 row">
          <div class="justify-content-sm-center col-sm-4">
            <button type="button" class="btn btn-success btn-block" (click)="addLocus()">
              <span class="fa fa-plus" title="Add Gene"></span>
              Add Another Gene
            </button>
          </div>
        </div>
      </div>
    </div>
  </span>
</div>
