<div class="d-flex p-2 align-items-center row">
  <div class="text-right col-3">
    <label class="mb-0">Gene</label>
  </div>
  <div class="p-1 col">
    <select class="form-control" [formControl]="gene">
      <option [selected]="gene.locusName===annotation.data.locusName.locusName" *ngFor="let gene of availableGenes | async">{{gene.locusName}}</option>
    </select>
  </div>
</div>
<div class="d-flex p-2 align-items-center row">
  <div class="text-right col-3">
    <label class="mb-0">Temporal Expression (PO Dev. Stage)</label>
  </div>
  <div class="p-1 col">
    <ng-template #rt let-function="result">
      <span class="badge badge-success">
        {{function.external_id}}
      </span>
      {{function.name}}
      <span *ngIf="function.synonym" class="badge badge-warning">
        {{function.synonym}}
      </span>
    </ng-template>
    <ng-template #functionPopContent>
          <div class="text-danger popover-body"><strong>{{functionError}}</strong></div>
      </ng-template>
    <input placeholder="Start Typing..." class="form-control" [formControl]="function" [ngbTypeahead]="goFunctions" [resultTemplate]="rt" [inputFormatter]="goFormatter"
           [ngbPopover]="functionPopContent" #functionPopover="ngbPopover" triggers="manual">
  </div>
</div>
<div class="d-flex p-2 align-items-center row">
  <div class="text-right col-3">
    <label class="mb-0">Method</label>
  </div>
  <div class="p-1 col">
      <ng-template #methodPopContent>
          <div class="text-danger popover-body"><strong>{{methodError}}</strong></div>
      </ng-template>
    <input placeholder="Start Typing..." class="form-control" [formControl]="method" [ngbTypeahead]="methods" [resultTemplate]="rt" [inputFormatter]="methodFormatter"
    [ngbPopover]="methodPopContent" #methodPopover="ngbPopover" triggers="manual">
  </div>
</div>
<ng-container *ngIf="annotation.data.evidenceWith!=undefined">
  <app-evidence-with-control *ngIf="annotation.data.evidenceWith" [annotation]="annotation" [index]="index"> </app-evidence-with-control>
</ng-container>