@import "globals";

.smart-text-input-suggestions {
    position: absolute;
    background-color: #FFFFFF;
    width: 100%;
    max-height: 150px;
    overflow-y: scroll;
    border: 1px solid #80bdff;
    margin-top: -5px;
    border-radius: 0px 0px 5px 5px;
    & ul {
        margin: 0;
        padding: 0;
        list-style: none;
        & > li {
            padding: 7px 5px;
            word-break: break-all;
            overflow: hidden;
            cursor: pointer;
            text-overflow: ellipsis;
            &.selected {
                background-color: $lightGreen;
            }

            & .badge {
                margin-right: 0.25em;
                max-width: 100%;
            }
        }
    }

    & > span {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        display: inline-block;
        padding: 12px 0px;
    }

}
