@import "globals";

select, textarea {
    -webkit-appearance: none;
    border: none;
    border-radius: 0;
    background: none;
    background-color: #FFFFFF;
    outline: none;
    -moz-appearance: none;
    width: 100%;
}