@import "globals";

select, textarea {
    -webkit-appearance: none;
    border: none;
    border-radius: 0;
    background: none;
    background-color: #FFFFFF;
    outline: none;
    -moz-appearance: none;
    width: 100%;
}
/*
$arrowColor: $accentColor;
$arrowColorFocused: $accentColorActive;

.custom-select {
    display: inline-block;
    height: 34px;
    background-color: $fgColorActive2;
    border-radius: 3px;
    position: relative;
    transition: background-color $focusTransitionTime ease-in-out;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        -webkit-box-shadow: 0px 0px 11px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 11px -4px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 11px -4px rgba(0,0,0,0.75);
        transition: opacity $focusTransitionTimeSlow ease-in-out;
    }

    & .arrow {
        position: relative;
        width: 20px;
        display: inline-block;
        padding: 5px 0;
        font-size: 0.7em;
        text-align: center;
        background-color: $arrowColorFocused;
        color: $fgColorActive;
        z-index: 100;
        margin-right: 5px;
        border-radius: 2px;
        bottom: 3px;
        // transition: background-color $focusTransitionTime ease-in-out;
    }

    & select {
        position: relative;
        z-index: 200;
        display: inline-block;
        height: 100%;
        background: none;
        padding: 5px;
        padding-right: 40px;
        margin-right: -35px;
        font-size: 1.1em;
        color: $empTextColor;
    }

    &.focused {
        background-color: $fgColorActive;
        &::after {
            opacity: 1;
        }
        & .arrow {
            // background-color: $arrowColorFocused;
        }
    }

}
*/