$bgColor: #A2D67E;
$fgColor: #DFEDD5;
$empTextColor: #474747;

$primaryColor: #95C474;
$primaryColorActive: #86B368;

$fgColorActive: #FFFFFF;
$fgColorActive2: #EDEDED;

$focusTransitionTime: 0.2s;
$focusTransitionTimeSlow: 0.5s;

$accentColor: #D1D1D1;
$accentColorActive: #C7C7C7;

