// Main.css
// Global styles

@import "globals"; // import global vars
@import "buttons";

html {}

body {
    // padding-top: 48px;
    // box-sizing: border-box;
    background-color: $bgColor;
    color: $empTextColor;
    min-width: 850px;
    // -webkit-font-smoothing: antialiased
    overflow-x: scroll;
}


#app-container {
    height: 100vh;
    width: 100%;
    padding-top: 48px;
    box-sizing: border-box;
}

.navigation-bar {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: $fgColor;
    -webkit-box-shadow: 0px 1px 10px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 10px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 10px -4px rgba(0,0,0,0.75);
    & ul {
        & li {
            & span {
                color: $empTextColor;
            }

            & a, button {
                transition: background-color 0.2s;
                color: $empTextColor;
                &:hover {
                    background-color: $fgColorActive;
                }

                &.active {
                    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.39);
                    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.39);
                    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.39);
                }

                &:active {
                    -webkit-box-shadow: inset 0px 0px 12px -7px rgba(0,0,0,0.8);
                    -moz-box-shadow: inset 0px 0px 12px -7px rgba(0,0,0,0.8);
                    box-shadow: inset 0px 0px 12px -7px rgba(0,0,0,0.8);
                    background-color: $fgColorActive2;
                }

            }

            & button {
                background-color: $fgColor;
                display: inline-block;
                border: none;
                outline: none;
            }
        }
    }
}

.email-label {
    & input {
        color: $empTextColor;
    }
    &.email-label-editing {
        -webkit-box-shadow: -7px 8px 0px -7px $empTextColor;
        -moz-box-shadow: -7px 8px 0px -7px $empTextColor;
        box-shadow: -7px 8px 0px -7px $empTextColor;
    }
}

.profile-panel {
    background-color: $fgColor;
    color: $empTextColor;
    -webkit-box-shadow: 0px 4px 9px -3px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 4px 9px -3px rgba(0,0,0,0.8);
    box-shadow: 0px 4px 9px -3px rgba(0,0,0,0.8);
}

input:focus, input {
    border: none;
    outline: none;
}

.comment-text-area {
    height: 200px

    ;
    width: 500px;
}

.light-text {
    color: $empTextColorLight;
}
