// Main.css
// Global styles

@import "globals"; // import global vars
@import 'node_modules/bootstrap/scss/bootstrap.scss';


@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

.profile-panel {
    background-color: #28a745;
    -webkit-box-shadow: 0px 4px 9px -3px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 4px 9px -3px rgba(0,0,0,0.8);
    box-shadow: 0px 4px 9px -3px rgba(0,0,0,0.8);
}

.banner-image {
    vertical-align: top;
    height: 350px;
    background-size: cover;
    background-position: 50%;
    box-shadow: inset 0 -100px 57px -111px rgba(0,0,0,.75);
    box-sizing: border-box;
    border-bottom: 5px solid #28a745;
    margin: 0px;
}

.goat-text {
    text-shadow: 0px 0px 20px rgba(0,0,0,.75);
}

body {
    background-color: $lightGreen;
}
.navbar {
    font-family: $headings-font-family;
}

.brand-logo {
    width: auto;
    height: 30px;
    margin-right: 8px;
    vertical-align: top;
}

.bg-light-green {
    background-color: $lightGreen;
}