// Main.css

// Global styles


html {}

body {
    background-color: #0CAFE8;
}


#app-container {
	height: 100vh;
	width: 100%;
}

.navigation-bar {
    background-color: #007AFF;
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.75);
    & ul {
        & li {
            & span {
                color: #FFFFFF;
            }

            & a, button {
                transition: background-color 0.2s;
                color: #FFFFFF;
                &:hover {
                    background-color: #1a88ff;
                    // -webkit-box-shadow: inset 0px -1px 0px 0px #FFFFFF;
                    // -moz-box-shadow: inset 0px -1px 0px 0px #FFFFFF;
                    // box-shadow: inset 0px -1px 0px 0px #FFFFFF;
                }
                &:active {
                    -webkit-box-shadow: inset 0px 0px 12px -7px rgba(0,0,0,0.8);
                    -moz-box-shadow: inset 0px 0px 12px -7px rgba(0,0,0,0.8);
                    box-shadow: inset 0px 0px 12px -7px rgba(0,0,0,0.8);
                    background-color: #006fe6;
                }

            }

            & button {
                background-color: #007AFF;
                display: inline-block;
                border: none;
                outline: none;
            }
        }
    }
}

.email-label {
    & input {
        color: #FFFFFF;
    }
    &.email-label-editing {
        -webkit-box-shadow: -7px 8px 0px -7px #FFFFFF;
        -moz-box-shadow: -7px 8px 0px -7px #FFFFFF;
        box-shadow: -7px 8px 0px -7px #FFFFFF;
    }
}

.profile-panel {
    background-color: #007AFF;
    color: #FFFFFF;
    -webkit-box-shadow: 0px 4px 9px -3px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 4px 9px -3px rgba(0,0,0,0.8);
    box-shadow: 0px 4px 9px -3px rgba(0,0,0,0.8);
}

input:focus {
    border: none;
    outline: none;
}




