@import 'globals';

.submission-view-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.submission-view {
    background-color: $fgColor;
    max-width: 90%;
    min-width: 600px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
    padding: 10px;
    box-sizing: border-box;
    
    .submission-form-container {
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
        padding: 10px;
        & > div {
            padding-top: 20px;
        }
    }

    & h1 {
        text-align: center;
        font-weight: 100;
        font-size: 2.4em;
    }

    h2, h3, h4, h5 {
        font-weight: 200;
        padding: 0px;
        margin: 0px;
    }

    h5 {
        font-weight: 400;
    }

    .empty-message {
        width: 100%;
        text-align: center;
        font-weight: 300;
        font-size: 1.4em;
        display: block;
        padding: 20px 0px;
        background-color:  #f2f2f2;
        border: 1px dashed #adadad;
        margin-top: 10px;
        border-radius: 10px;
    }

}

.submission-view .publication-field {
    margin-top: 15px;

    & .custom-text-input, .custom-text-input input {
        width: 100%;
        font-size: 1.2em;
    }
}

.submission-view .gene-list-container {
    padding-bottom: 10px;
    & .gene-list {
        & > h2 {
            display: inline;
            margin-right: 7px;
        }
    }
    & .edit-button-container {
        display: inline-block;
    }
    & .single-gene {
        margin: 15px 0px; 
        & h4 {
            display: block;
            margin-bottom: 7px;
        }
        width: 100%;
        & .input-group {
            height: 60px;
            & span {
                display: inline-block;
                padding: 10px 0px;
            }
        }
        & .input-container {
            padding: 0px 8px;
            width: 33%;
            display: inline-block;
            box-sizing: border-box;
            &:first-of-type {
                padding-left: 0px;
                width: 30%;
            }
            & .custom-text-input, .custom-text-input input {
                width: 100%;
            }
        }
    }
}

.submission-view .annotation-list-container {
    & > h2 {
        display: inline;
        margin-right: 7px;
    }
    & .annotation-list {
        margin-top: 12px;
        & .annotation-entry {
            
        }
    }
}

